USE [master]
GO
/****** Object:  Database [asmJava42]    Script Date: 3/20/2023 2:40:00 PM ******/
CREATE DATABASE [asmJava42]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'asmJava42', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\asmJava42.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'asmJava42_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\asmJava42_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [asmJava42].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [asmJava42]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/20/2023 2:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountusername] [char](10) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[accountpassword] [varchar](50) NOT NULL,
	[avatar] [varchar](20) NOT NULL,
	[isadmin] [bit] NOT NULL,
	[isactive] [bit] NOT NULL,
	[datecreate] [datetime] NULL,
	[dateupdate] [datetime] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[History]    Script Date: 3/20/2023 2:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountid] [int] NOT NULL,
	[videoid] [int] NOT NULL,
	[vieweddate] [datetime] NULL,
	[isliked] [bit] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[isshare] [bit] NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Repository]    Script Date: 3/20/2023 2:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repository](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[accountid] [int] NOT NULL,
	[videoid] [int] NOT NULL,
	[datecreate] [nchar](10) NULL,
	[statusid] [int] NOT NULL,
	[dateupdate] [nchar](10) NULL,
 CONSTRAINT [PK_Repository] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RepositoryStatus]    Script Date: 3/20/2023 2:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepositoryStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nchar](10) NOT NULL,
 CONSTRAINT [PK_RepositoryStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Subcriber]    Script Date: 3/20/2023 2:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subcriber](
	[accountid] [int] NOT NULL,
	[listsubcriber] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Subcriber] PRIMARY KEY CLUSTERED 
(
	[accountid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Video]    Script Date: 3/20/2023 2:40:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Video](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[discription] [nvarchar](500) NOT NULL,
	[href] [varchar](50) NOT NULL,
	[poster] [varchar](20) NOT NULL,
	[views] [int] NOT NULL,
	[shares] [int] NOT NULL,
	[isactive] [bit] NOT NULL,
	[likenumber] [int] NOT NULL,
	[commentnumber] [int] NULL,
	[hashtag] [nvarchar](20) NOT NULL,
	[datecreate] [datetime] NULL,
	[dateupdate] [datetime] NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([id], [accountusername], [email], [accountpassword], [avatar], [isadmin], [isactive], [datecreate], [dateupdate]) VALUES (3, N'accUser   ', N'hahuytri2K3@gmail.com', N'abc', N'accountUser.png', 0, 1, NULL, NULL)
INSERT [dbo].[Account] ([id], [accountusername], [email], [accountpassword], [avatar], [isadmin], [isactive], [datecreate], [dateupdate]) VALUES (4, N'accAdmin  ', N'hahuytri2K3@gmail.com', N'abc', N'accountAdmin.png', 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
SET IDENTITY_INSERT [dbo].[History] ON 

INSERT [dbo].[History] ([id], [accountid], [videoid], [vieweddate], [isliked], [comment], [isshare]) VALUES (1, 3, 2, NULL, 1, NULL, 0)
INSERT [dbo].[History] ([id], [accountid], [videoid], [vieweddate], [isliked], [comment], [isshare]) VALUES (2, 3, 3, NULL, 1, NULL, 0)
INSERT [dbo].[History] ([id], [accountid], [videoid], [vieweddate], [isliked], [comment], [isshare]) VALUES (3, 3, 4, NULL, 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[History] OFF
SET IDENTITY_INSERT [dbo].[Repository] ON 

INSERT [dbo].[Repository] ([id], [accountid], [videoid], [datecreate], [statusid], [dateupdate]) VALUES (1, 3, 2, NULL, 3, NULL)
INSERT [dbo].[Repository] ([id], [accountid], [videoid], [datecreate], [statusid], [dateupdate]) VALUES (2, 3, 3, NULL, 3, NULL)
INSERT [dbo].[Repository] ([id], [accountid], [videoid], [datecreate], [statusid], [dateupdate]) VALUES (3, 3, 4, NULL, 3, NULL)
SET IDENTITY_INSERT [dbo].[Repository] OFF
SET IDENTITY_INSERT [dbo].[RepositoryStatus] ON 

INSERT [dbo].[RepositoryStatus] ([id], [status]) VALUES (1, N'download  ')
INSERT [dbo].[RepositoryStatus] ([id], [status]) VALUES (2, N'share     ')
INSERT [dbo].[RepositoryStatus] ([id], [status]) VALUES (3, N'upload    ')
SET IDENTITY_INSERT [dbo].[RepositoryStatus] OFF
SET IDENTITY_INSERT [dbo].[Video] ON 

SET IDENTITY_INSERT [dbo].[Video] OFF
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Account] FOREIGN KEY([accountid])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Account]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Video] FOREIGN KEY([videoid])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Video]
GO
ALTER TABLE [dbo].[Repository]  WITH CHECK ADD  CONSTRAINT [FK_Repository_Account] FOREIGN KEY([accountid])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Repository] CHECK CONSTRAINT [FK_Repository_Account]
GO
ALTER TABLE [dbo].[Repository]  WITH CHECK ADD  CONSTRAINT [FK_Repository_RepositoryStatus] FOREIGN KEY([statusid])
REFERENCES [dbo].[RepositoryStatus] ([id])
GO
ALTER TABLE [dbo].[Repository] CHECK CONSTRAINT [FK_Repository_RepositoryStatus]
GO
ALTER TABLE [dbo].[Repository]  WITH CHECK ADD  CONSTRAINT [FK_Repository_Video] FOREIGN KEY([videoid])
REFERENCES [dbo].[Video] ([id])
GO
ALTER TABLE [dbo].[Repository] CHECK CONSTRAINT [FK_Repository_Video]
GO
USE [master]
GO
